/*dark primary: #212121
dark secondary: #2E2E2E*/

/*light primary: #ECEFF1
light secondary: #CFD8DC*/

body {
	/*margin: 0% 15%;*/
	text-align: center;
	color: #000000;
	background-color: #eceff1;
}

@media (min-width: 991px) {
	div {
		width: 992px;
		margin-left: auto;
		margin-right: auto;
	}
}

#header {
	margin: 0px 0px 25px 0px;
	width: 100%;
	background-color: #212121;
	font-size: 24px;
}

#footer {
	margin:0px auto 25px auto;
}

.navbar {
	padding: .5rem 1rem;
}

.navbar-brand{
	font-size: 36px;
}

.navbar-nav{
	margin-left: auto;
}


.navbar-brand, .navbar-nav, .nav-item, .nav-link {
	color: #ffffff;
}

.navbar-brand:hover, .nav-link:hover{
	background-color: #2e2e2e;
	color: #ffffff;
}

.dropdown-menu {
	background-color: #212121;
}

.dropdown-item:hover {
	background-color: #2e2e2e;
	color: #ffffff;
}

.dropdown-item, .dropdown-divider  {
	color: #ffffff;
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

#intro {
	margin-top: 25px;
	margin-bottom: 25px;
}

#sub-intro {
	margin-top: 25px;
	margin-bottom: 25px;
}

/*About page stuff*/
.accordion-header {
    cursor: pointer;
}

.accordion-button:hover, .accordion-button:focus, .accordion-button:active, .accordion-button:not(.collapsed){
	background-color: #CFD8DC;
	border-color: #CFD8DC;
	box-shadow: 0 0 0 .1rem rgba(207,216,220,.25);
	color: #000000;
    cursor: pointer;
}

dl{
	text-align:left;
	margin-bottom: 0px;"
}

dt{
	margin-top: 0.5rem;
}

dd{
	margin-bottom: 0px;
}

.carousel {
	width: 100%;
}

.carousel-indicators {
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: -2rem;
	width: 100%;
}

.modal.fade.show {
	width: 100%;
	padding: 10px;
}

.modal-dialog.modal-dialog-centered {
	max-width: 1080px;
}

.modal-header, .modal-body, .modal-footer{
	width: 100%;
	padding: 5px;
}

.modal-backdrop{
	width: 100%;
}

.modal-header{
	border-bottom: none;
}

.modal-footer{
	border-top: none;
}

.modal-footer button{
	margin-left: auto;
	margin-right: auto;
	padding-left: 25px;
	padding-right: 25px;
}

/*.modal-footer button:hover, .modal-footer  button:active, .modal-footer  button:focus{
	background-color: #00152F;
	color: #dddddd;
	border-color: #000d1a;
	outline: none;
}*/